.outer {
  display: flex;
  justify-content: center;
}

.inner {
  width: 100vw;
  margin: 0 -100%;
}

.inner img {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

@media (max-width: 960px) {
  .inner {
    padding: 0;
  }

  .inner img {
    border-radius: 0;
  }
}

.center_image {
  margin: 0 auto;
}

.center_label {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  color: #666;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}