.button {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.button-primary {
  color: white;
  background: black;
}

.button-primary:hover {
  background: rgb(51, 51, 51);
}

.button-secondary {
  color: black;
  background: rgb(249, 250, 251);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-secondary:hover {
  background: white;
}
