.title {
  font-size: 36px !important;
}

.date {
  font-size: 15px !important;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 4px !important;
}

@media (max-width: 1024px) {
  .title {
    font-size: 28px !important;
  }

  .date {
    font-size: 14px !important;
  }
}

.link a,
.link a:focus,
.link a:hover {
  font-size: 24px;
  font-weight: 700;
  color: #fff !important;
  text-decoration: none !important;
}

.link + .link {
  margin-top: 24px;
}
