.page {
  max-width: 640px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  margin-top: 10px;
  font-size: 32px !important;
}

.date {
  margin-top: 4px !important;
  font-size: 15px !important;
  color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 960px) {
  .title {
    margin: 10px 0 6px 0;
    font-size: 26px !important;
  }

  .date {
    font-size: 14px !important;
  }
}

.footer {
  width: 100%;
  padding: 24px;
  margin-top: 10px;
  background: #161616;
}

.footerLabel {
  margin-bottom: 6px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footerLink a,
.footerLink a:focus,
.footerLink a:hover {
  font-size: 24px;
  font-weight: 700;
  color: #fff !important;
  text-align: center;
  text-decoration: none !important;
}

.footerLink + .footerLink {
  margin-top: 24px;
}

@media (max-width: 960px) {
  .footer {
    padding: 22px;
  }

  .footerLabel {
    margin-bottom: 4px;
    letter-spacing: 2px;
  }

  .footerLink + .footerLink {
    margin-top: 18px;
  }

  .footerLink a,
  .footerLink a:focus,
  .footerLink a:hover {
    font-size: 22px;
  }
}
