.page {
  max-width: 640px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .page {
    max-width: 100%;
  }
}

.project {
  gap: 4px;
  width: 100%;
  padding: 64px 20px 80px 20px;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

.projectTitle {
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
}

.projectDescription {
  padding: 0 10px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: normal;
}

.projectEmoji {
  font-size: 64px;
  font-weight: normal;
}

@media (max-width: 640px) {
  .project {
    width: 100%;
    padding: 54px 0 0 0;
    color: #000;
    text-align: center;
    border-bottom: none;
  }

  .projectFirst {
    margin-top: -24px;
  }

  .projectTitle {
    font-size: 24px;
    font-weight: bold;
  }

  .projectDescription {
    font-size: 14px;
    font-weight: normal;
  }

  .projectEmoji {
    font-size: 48px;
    font-weight: normal;
  }
}
