.page {
  margin: 0 auto;
  max-width: 640px;
  margin: 0 auto;
}
@media (max-width: 680px) {
  .page {
    max-width: 100%;
  }
}

.year + .year {
  margin-top: 20px;
}

.post {
  margin-top: 15px;
}
