.outer {
  display: flex;
  justify-content: center;
}

.inner {
  width: 100vw;
  padding: 0 24px;
  margin: 0 -100%;
  max-width: 1024px;
}

.inner img {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

@media (max-width: 1024px) {
  .inner {
    padding: 0;
  }
  .inner img {
    border-radius: 0;
  }
}
