.outer {
  display: flex;
  justify-content: center;
}

.inner {
  width: 100vw;
  padding: 0 24px;
  margin: 0 -100%;
  max-width: 1024px;
}

.inner img {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
  max-height: 618px;
}

@media (max-width: 1024px) {
  .inner {
    padding: 0;
  }
  .inner img {
    border-radius: 0;
  }
}

.center_image {
  margin: 0 auto;
}

.center_label {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  color: #666;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
