.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: hsla(0, 0%, 100%, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  transform: translateZ(0);
}

.link {
  padding: 2px 4px;
  margin: 0 12px;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transition: color 0.3s ease-in;
}

.link:hover,
.link[data-active="true"] {
  font-weight: bold;
  color: rgba(0, 0, 0, 1) !important;
}
